<h2> <%= @restaurant.name %> </h2>
<ul class="inline">
  <li><%= @restaurant.address%></li>
  <li><%= @restaurant.category%></li>
  <li><%= @restaurant.phone_number%></li>
</ul>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> <%= review.rating%></li>
  <% end %>
</ul>