<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="list-inline">
    <li class="list-inline-item"> <%= link_to "Overview", restaurants_path %> </li>
    <li class="list-inline-item"> <%= link_to "Add a new restaurant", new_restaurant_path %> </li>
  </ul>
    <%= yield %>
  </body>
</html>
